sudo: false
language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
  - "pypy3"
  - "3.4"
install:
  - pip install tox-travis
  - pip install coveralls
script: tox
after_success:
  coveralls
