language: python
python: 2.7
env:
  - TOX_ENV=py34
  - TOX_ENV=py33
  - TOX_ENV=py27
  - TOX_ENV=docs
  - TOX_ENV=pep8
install:
  - pip install tox
  - pip install coveralls
script:
  - tox -e $TOX_ENV
  - tox -e cover
after_success:
  coveralls